    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-4">
                    <img src="images/me.png" class="about-tv" />
                </div>   
                <div class="col-sm-4">
                    <img src="images/technologies_used.png" class="about-tv" />
                </div>  
                <div class="col-sm-4">
                    <img src="images/contact_me.png" class="about-tv" />
                </div>             
            </div>
        </div>
    </div>